*{
    box-sizing: content-box;
}

.container{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}


.item{
    position: relative;
    width: 242px;
    height: 242px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #f8f8f8;
    border: 3px solid transparent;
    transition: transform .15s linear,
                border .15s linear, 
                box-shadow .15s ease .20s;
}

.item__name{
    display: inline-block;
    font-size: 14px;
    color: #5b6b82;
    padding: 0px 20px 10px;
    transform: translate(0,28px);
    border-radius: 4px;
    border: 3px solid transparent;
    color: #5b6b82;
    background-color: #f8f8f8;
}

.item__media{
    border-radius: 100%;
    margin-top: 25px;
    border: 3px solid transparent;
    transition: all .15s linear;
}

/*--------------
HOVER
---------------------*/

.item:hover{
    transform: rotateZ(-15deg);
    box-shadow: 5px 5px 24px 0 rgba(0, 0, 0, 0.16);
    border: 3px solid #fff;
}

.item:hover .item__name{
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}

.item:hover .item__media{
    transform: rotateZ(15deg);
    border: 3px solid #fff;
}